// style

@body-bg:                 #fff;
@text-color:              #333;
@link-color:              #428bca;
@link-hover-color:        darken(@link-color, 15%);

@font-family-base:        Arial, sans-serif;
@font-size-base:          14px;
@line-height-base:        1.428571429; // 20/14