// style

@body-bg:                 #fff;
@text-color:              #333;
@link-color:              #428bca;
@link-hover-color:        darken(@link-color, 15%);

@font-family-base:        Arial, sans-serif;
@font-size-base:          14px;
@line-height-base:        1.428571429; // 20/14

// buttons

@btn-font-weight: 700;
@cursor-disabled: disabled;

@btn-default-color: @text-color;
@btn-default-bg: grey;
@btn-default-border: grey;

@padding-base-vertical: 15px; 
@padding-base-horizontal: 30px;
@font-size-base: 18px;
@line-height-base: 22px;
@btn-border-radius-base: none;

