// path
@bower-path: "bower_components";
@images-path: "images";
@less-path: "less";
@mixins-path: "less/mixins";

// import css

@import (less) "@{bower-path}/normalize.css/normalize.css";

// plugins

@import url("@{less-path}/forkit-select.less");

// import mixins

@import url("@{mixins-path}/buttons.less");

// import less

@import url("@{less-path}/utilities.less");
@import url("@{less-path}/grid.less");
@import url("@{less-path}/variables.less");
@import url("@{less-path}/media.less");
@import url("@{less-path}/lists.less");
@import url("@{less-path}/icons.less");
@import url("@{less-path}/buttons.less");