.main {
  width: 1180px;
  margin: 0 auto;
  padding: 15px;
}
code {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  display: block;
  margin: 15px 0;
}
.title-default {
  display: block;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dddddd;
}
.box {
  margin: 35px 0;
}
.box-sub {
  margin: 25px 0;
}
.title-sub {
  margin-bottom: 25px;
}
